@page
@model Darkec.Pages.AdminLoginModel
@{
}

<h1>Admin Login</h1>

<form method="post">
    
    <div class="form-group">
        <label asp-for="@Model.Admi.Id" class="control-label"> Id </label>
        <input asp-for="@Model.Pizza.Id" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Id"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Name" class="control-label">Name </label>
        <input asp-for="@Model.Pizza.Name" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Name"  class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Description" class="control-label">Description</label>
        <input asp-for="@Model.Pizza.Description" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Description"   class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Price" class="control-label">Price</label>
        <input asp-for="@Model.Pizza.Price" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.ImageName" class="control-label"> ImageName </label>
        <input asp-for="@Model.Pizza.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Pizza.ImageName"  class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>