@page
@model Darkec.Pages.RegisterModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Something</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="css/StyleSheet.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>





<body>

    <div class="text-center">
        <h1 class="display-4">Register</h1>
    </div>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src='Images/Darkec logo.svg' id="icon" alt="User Icon" />
            </div>

            <!-- Register Form -->
            <form method="post">
                <div class="form-group">
                    <input type="text" asp-for="@Model.NewUser.Email" id="login" class="fadeIn second" placeholder="e-mail">
                    <input type="text" asp-for="@Model.NewUser.Password" id="password" class="fadeIn third" placeholder="password">
                    <input type="text" asp-for="@Model.NewUser.Name" id="name" class="fadeIn third" placeholder="name">
                    <input type="text" asp-for="@Model.NewUser.Address" id="address" class="fadeIn third" placeholder="address">
                    <input type="text" asp-for="@Model.NewUser.CardNumber" id="card number" class="fadeIn third" placeholder="card number">
                    <input type="text" asp-for="@Model.NewUser.TelephoneNumber" id="telephone number" class="fadeIn third" placeholder="telephone number">

                    <input type="submit" class="fadeIn fourth" value="Sign Up">
                </div>
                
            </form>


        </div>
    </div>
</body>

</html>


