@page
@model Darkec.Pages.Apartments.UpdateApartmentModel
@{
    bool isAdmin = false;

    if (LoginModel.CurrentUser != null)
    {
        isAdmin = LoginModel.CurrentUser.IsAdmin;
    }
    ViewData["Title"] = "Edit Apartment";
}

<h1>Edit Apartment</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Apartment.Id" class="control-label">
            Id: @Model.Apartment.Id
            <text class="alert alert-info" role="alert">
                Id cannot be changed
            </text>
        </label>
        <input hidden="hidden" asp-for="@Model.Apartment.Id" class="form-control" />
        <span asp-validation-for="@Model.Apartment.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Apartment.Name" class="control-label"></label>
        <input asp-for="@Model.Apartment.Name" class="form-control" />
        <span asp-validation-for="@Model.Apartment.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Apartment.Description" class="control-label"></label>
        <input asp-for="@Model.Apartment.Description" class="form-control" />
        <span asp-validation-for="@Model.Apartment.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Apartment.Price" class="control-label"></label>
        <input asp-for="@Model.Apartment.Price" class="form-control" />
        <span asp-validation-for="@Model.Apartment.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Apartment.ImageName" class="control-label"></label>
        <input asp-for="@Model.Apartment.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Apartment.ImageName" class="text-danger"></span>
    </div>
    <div class="form-group">
        @{
            if (isAdmin == true)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
            }
            else
            {
                <p>You're not an Admin, how did you get to this page?</p>
            }
        }
    </div>
</form>