
@model Darkec.Pages.Trucks.DeleteTruckModel
@{
    bool isAdmin = false;

    if (LoginModel.CurrentUser != null)
    {
        isAdmin = LoginModel.CurrentUser.IsAdmin;
    }
    ViewData["Title"] = "DeleteTruck";
}

<h1>Delete Truck</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Truck.Id
            </td>
            <td>
                @Model.Truck.RegistrationNumber
            </td>
            <td>
                @Model.Truck.Length
            </td>
            <td>
                @Model.Truck.Width
            </td>
            <td>
                @Model.Truck.Height
            </td>
            <td>
                @Model.Truck.CarryingWeight
            </td>
            <td>
                @Model.Truck.EngineHorsepower
            </td>
            <td>
                <img src="~/Images/Trucks/@Model.Truck.ImageName" width="60" height="70">
            </td>
        </tr>
    </tbody>
</table>

<form method="post">
    @{
        if (isAdmin == true)
        {
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div class="alert alert-danger" role="alert">
                Are you sure? This is permanent.
            </div>
        }
        else
        {
            <p>You're not an Admin, how did you get to this page?</p>
        }
    }
</form>
<br />
<div>
    <a class="btn btn-primary" asp-page="GetAllTrucks">I changed my mind</a>
</div>