@page
@model Darkec.Pages.Trucks.GetAllTrucksModel
@{
    bool isAdmin = false;

    if (LoginModel.CurrentUser != null)
    {
        isAdmin = LoginModel.CurrentUser.IsAdmin;
    }
    ViewData["Title"] = "GetAllTrucks";
}
<h1>Trucks</h1>

<p>
    @{
        if (isAdmin == true)
        {
            <a class="btn btn-primary" asp-page="CreateTruck">Create New Truck</a>
        }
    }
</p>

<div class="search_container">
    <div class="search_title">
        <input class="search_input" type="text" asp-for="FilterCriteria" placeholder="Search" /> @*submit button not implemented yet*@

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Carrying Weight
            </th>
            <th>
                Height
            </th>

            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Trucks)
        {
            <tr>
                <td>
                    <a asp-page="GetTruck" asp-route-id="@item.Key">
                        <img src="~/Images/Trucks/@item.Value.ImageName" width="180" height="150">
                    </a>
                </td>
                <td>
                    @item.Value.RegistrationNumber
                </td>
                <td>
                    @item.Value.CarryingWeight
                </td>
                <td>
                    @item.Value.Height
                </td>

                <td>
                    <p>
                        @{
                            if (isAdmin == true)
                            {
                                <a class="btn btn-primary" asp-page="UpdateTruck" asp-route-id="@item.Key">Edit</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-page="GetTruck" asp-route-id="@item.Key">View</a>
                            }
                        }
                    </p>
                </td>
                <td>
                    <p>
                        @{
                            if (isAdmin == true)
                            {
                                <a class="btn btn-danger" asp-page="DeleteTruck" asp-route-id="@item.Key">Delete</a>
                            }
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>

</table>